<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" style="background:transparent;">
  <!--  <ion-header-bar style="background: transparent;border:none">

    </ion-header-bar>-->
    <ion-content>
      <div style="background-color: transparent;"  class="list">
          <div style="background-image: url('img/sidemenu_bg6.PNG');">
            <div style="z-index: 9999">
        <a style="background-color: transparent;border: transparent" class="item item-avatar-left " menu-close ng-click="getInfo()">
          <img style="margin-top: 40px;" ng-src="{{ava_default}}">
          <p style="margin-top: 40px;color: white;font-size: 18px;font-weight: bold">{{MyName}}
            <!--{{userData.userName}}-->
          </p>
          <div style="float:right;margin-top: -10px">
          <img class="title"  ng-src="{{weather_imgUrl}}">
          <p style="color: white" >
            {{weather.temperature+'℃'}} &nbsp;{{weather.text}}
          </p>
          </div>
        </a>
            </div>
          </div>

        <div>
        <a class="item item-icon-left menuList"  menu-close href="#/app/home">
          <i class="icon ion-ios-home menuList"></i> 我的主页
        </a>
        <a class="item item-icon-left menuList" menu-close ng-click="getRemark()">
        <i class="icon ion-navicon menuList"></i> 我的评论
        </a>
       <a class="item item-icon-left menuList" menu-close ng-click="getMyJoin()">
        <i class="icon ion-ribbon-a menuList"></i> 我的参与
        </a>

        <a class="item item-icon-left menuList" menu-close ng-click="getMessage()">
        <i class="icon ion-email menuList"></i> 我的消息
        </a>
        <!--<a style="background: transparent;;border: transparent;color: #f2f2f2"  class="item item-icon-left " menu-close href="#/app/search">-->
           <!--<i class="icon ion-images"></i> 我的相册-->
        <!--</a>-->
        <!--<a style="background-color: transparent;;border: transparent;color: #f2f2f2" class="item item-icon-left positive-bg" menu-close href="#/app/search">-->
          <!--<i class="icon ion-android-star"></i> 收藏路线-->
        <!--</a>-->
        <a class="item item-icon-left positive-bg menuList" menu-close ng-href="#/app/weather">
          <i class="icon ion-android-star menuList"></i> 天气预报
        </a>
        <a class="item item-icon-left positive-bg menuList" menu-close ng-click="getPosts()">
          <i class="icon ion-checkmark-round menuList"></i> 我的发布
        </a>
        </div>
        <!--<a style="background-color: transparent;;border: transparent;color: #f2f2f2" class="item item-icon-left positive-bg" menu-close href="#/app/search">-->
          <!--<i class="icon ion-navicon-round"></i> 跑后感-->
        <!--</a>-->
     </div>

      <div class="list">
        <a style="margin-top:20px;;border: transparent;background-color: transparent;" class="item item-icon-left assertive" menu-close ng-click="doExit()">
          <i class="icon ion-android-exit"></i> 退出
        </a>
      </div>

    </ion-content>
  </ion-side-menu>
</ion-side-menus>
