<ion-view title="我的参与">

  <ion-content>
    <ion-list>
    <ion-item class="item item-text-wrap" ng-repeat="playlist in listInfo" ng-click="goToDetail(playlist.a_id,playlist.cancel)">
      <div ng-if="playlist.cancel==1"  style="color: red;height: 2px;">
       <label>
        <i style="color: red;" class="icon ion-alert-circled"></i>
         此活动已被取消
       </label>
      </div>
      <div class="row" >
        <div class="col-33">
          <a style="background-color: transparent;border: none" class="item item-avatar-left " menu-close>
            <img ng-src="{{playlist.photo}}">
          </a>
          <p>{{playlist.account}}</p>
        </div>
        <div class="col-66" >
          <br>
          <p style="text-align: right"> {{playlist.postTime}}</p>
        </div>
      </div>
      <div  class="row" >
        <div class="col-33">
          <a style="background-color: transparent;border: none"  class="item item-avatar-left " menu-close>

          </a>
        </div>
        <div class="col-66" >
          <a> 距离：{{playlist.distance}}</a><br/>
          <a> 人数：{{playlist.p_number}}</a><br/>
          <a> 时间：{{playlist.time}}</a><br/>

        </div>
      </div>
      <ion-option-button class="button-assertive" ng-click="remove(playlist.a_id)">
       取消报名
      </ion-option-button>
    </ion-item>
    </ion-list>
    <ion-infinite-scroll ng-if="hasmore" on-infinite="loadMore()" distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
