<ion-view view-title="详情">
<!--具体的某个动态详情（具体内容+评论）-->
  <ion-nav-buttons side="right">
    <a class="button"  ng-click="edit()">评论</a>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()">
    </ion-refresher>
    <div class="list">
      <div class="item item-text-wrap" >
        <div class="row" >
          <div class="col-33">
            <a style="background-color: transparent;border: none" class="item item-avatar-left " menu-close>
              <img ng-src="{{details.photo}}">
            </a>
            <p>{{details.toAccount}}</p>
          </div>
          <div class="col-66" >
            <br>
            <p style="text-align: right"> {{details.time}}</p>
          </div>
        </div>
        <div  class="row" >
          <div class="col-33">
            <a style="background-color: transparent;border: none"  class="item item-avatar-left " menu-close>

            </a>
          </div>
          <div class="col-66" >
            <a> 地点：{{details.address}}</a><br/>
            <a> 距离：{{details.distance}}</a><br/>
            <a> 人数：{{details.p_number}}</a><br/>
            <!--<a> 路线：{{details.route}}</a><br/>-->
            <a> 活动时长：{{details.runtime}}</a><br/>
            <a> 留言：{{details.description}}</a><br/>
           <a ng-if="!isJoined" style="float: right;color: cornflowerblue" class="button button-icon icon ion-happy" ng-click="addMyJoin()"></a>
           <a ng-if="isJoined" style="float: right;color: cornflowerblue" class="button button-icon icon ion-sad" ng-click="cancelMyJoin()"></a>
          </div>
        </div>
      </div>
      <div  style="width:100%; height: 250px;" id="container"></div>
    </div>
<!--评论-->
    <div class="list" style="margin-top: 0" ng-if="hasRemark">
      <div class="item item-divider">
        评论
      </div>
        <div ng-repeat="remark in remarks" class="item item-text-wrap item-avatar">
          <img ng-src="{{remark.photo}}">
          <h2>{{remark.account}} &nbsp;&nbsp;{{remark.time}}</h2>
         {{remark.content}}
      </div>
    </div>
    <ion-infinite-scroll ng-if="hasmore" on-infinite="loadMore()" distance="1%">
    </ion-infinite-scroll>
  </ion-content>

  <script id="my-modal.html" type="text/ng-template">

    <div class="modal">
      <ion-header-bar class="bar-positive">
        <div class="buttons">
          <button class="button icon ion-ios-close-empty  button-light button-clear" ng-click="closeModal()"></button>
        </div>
        <h1 class="title">发表评论</h1>
        <div class="buttons">
          <button class="button icon ion-ios-checkmark-empty button-light button-clear" ng-click="sendRemark()"></button>
        </div>
      </ion-header-bar>
      <ion-content>
         <div class="list card">

           <label class="item">
           <textarea placeholder="140字" ng-model="text" ng-change="textChange(text)" class="remarkInput" ></textarea>
         <p style="text-align: right"> {{textLength}}</p>
           </label>

         </div>
      </ion-content>
    </div>
  </script>

  <!-- 采用弹出框的方式-->
  <!--<ion-footer-bar class="bar-clear" style="width: 100%">
    <label style="width: 100%">
      <input ng-model="content" placeholder="发表评论" type="text" style="width: 80%;float: left"/>
      <a class="button button-positive" style="width: 20%;float: right" ng-click="sendRemark()">提交</a>
    </label>
  </ion-footer-bar>-->
</ion-view>
