<ion-view view-title="我的信息" >

  <ion-nav-buttons side="right">
    <a class="button button-clear icon  ion-compose" ng-if="!isEdit" ng-click="edit()"></a>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <form class="list">
      <div class="item" style="text-align: center">
        <img class="to"  ng-src="{{myInfo.photo}}" ng-click="addAttachment()">
        <p>{{myInfo.introduce}}
          <a style="color:#ef473a" ng-click="showModel()" class="button button-small button-icon icon ion-ios-color-wand-outline"></a>
        </p>
      </div>

      <label class="item item-input">
        <span class="input-label"><strong>昵称</strong></span>
        <input ng-model="myInfo.name" style="background: white;text-align: right" ng-value="myInfo.name" ng-readonly="!isEdit" type="text" class="widthSize"/>
      </label>



      <label class="item item-input item-icon-right" ng-click="openchange()">
        <span class="input-label"><strong>密码</strong></span>
        <a> <i class="icon ion-ios-arrow-right"></i></a>
        <!--<input ng-model="myInfo.password" style="background: white;text-align: right" ng-value="password" ng-readonly="!isEdit" type="password" class="widthSize"/>-->
      </label>

      <!--<div class="row item  item-icon-right widthSize">-->
        <label class="item item-input">
          <span class="input-label"><strong>手机号</strong></span>
          <input  ng-model="myInfo.tel" style="background: white;text-align: right" ng-value="myInfo.tel" ng-readonly="!isEdit"  class="widthSize"/>
        </label>

      <label class="item item-input">
          <span class="input-label"><strong>年龄</strong></span>
          <input ng-model="myInfo.age" style="background: white;text-align: right" ng-value="myInfo.age" ng-readonly="!isEdit" class=" widthSize"/>
      </label>



     <a ng-show="isEdit"  class="button button-block button-positive" ng-click="submitInfo()">保存</a>
     <input ng-show="isEdit" type="reset" value="取消" class="button button-block button-positive" ng-click="edit()"/>
    </form>
  </ion-content>
  <script id="my-modal.html" type="text/ng-template">

    <div class="modal">
      <ion-header-bar class="bar-positive">
        <div class="buttons">
          <button class="button icon ion-ios-close-empty  button-light button-clear" ng-click="closeModal()"></button>
        </div>
        <h1 class="title">我的简介</h1>
        <div class="buttons">
          <button class="button icon ion-ios-checkmark-empty button-light button-clear" ng-click="sendIntro()"></button>
        </div>
      </ion-header-bar>
      <ion-content>
        <div class="list card">

          <label class="item">
            <textarea placeholder="140字" ng-model="text" ng-change="textChange(text)" class="remarkInput" ></textarea>
            <p style="text-align: right"> {{textLength}}</p>
          </label>

        </div>
      </ion-content>
    </div>
  </script>
  <script id="my-password.html" type="text/ng-template">

    <div class="modal">
      <ion-header-bar class="bar-positive">
        <div class="buttons">
          <button class="button icon ion-ios-close-empty  button-light button-clear" ng-click="closeModal1()"></button>
        </div>
        <h1 class="title">修改密码</h1>
        <div class="buttons">
          <button class="button icon ion-ios-checkmark-empty button-light button-clear" ng-click="changePassword()"></button>
        </div>
      </ion-header-bar>
      <ion-content>
        <form>
          <div class="list card">
            <label class="item item-input">
              <span class="input-label">新密码</span>
              <input  type="password" ng-model="newPwd.password1" >
            </label>
            <label class="item item-input">
              <span class="input-label">确认密码</span>
              <input  type="password" ng-model="newPwd.password2" >
            </label>

          </div>

        </form>
      </ion-content>
    </div>
  </script>
</ion-view>
