<ion-view view-title="我的信息">
  <ion-nav-buttons side="right">
    <a class="button button-clear icon  ion-compose" ng-if="!isEdit" ng-click="edit()"></a>
  </ion-nav-buttons>
  <ion-content>
    <form class="list">
      <div class="item item-icon-right">
        <div class="row widthSize item item-icon-right">
          <div class="col-33 myInfoAvatar1 widthSize">
            <br>
            <a> <strong>头像</strong></a>
          </div>
          <div class="col-67 infoCol widthSize" ng-click="addAttachment()">
            <img  style="height: 60px;width: 60px;" ng-src="{{myInfo.photo}}" >
          </div>
        </div>
      </div>

      <label class="item item-input">
        <span class="input-label"><strong>用户名</strong></span>
        <input ng-model="myInfo.account" style="background: white;text-align: right" ng-value="myInfo.account" ng-readonly="!isEdit" type="text" class="widthSize"/>
      </label>

      <label class="item item-input">
        <span class="input-label"><strong>昵称</strong></span>
        <input ng-model="myInfo.name" style="background: white;text-align: right" ng-value="myInfo.name" ng-readonly="!isEdit" type="text" class="widthSize"/>
      </label>

      <label class="item item-input">
        <span class="input-label"><strong>密码</strong></span>
        <input ng-model="myInfo.password" style="background: white;text-align: right" ng-value="password" ng-readonly="!isEdit" type="password" class="widthSize"/>
      </label>

      <!--<div class="row item  item-icon-right widthSize">-->
        <label class="item item-input">
          <span class="input-label"><strong>手机号</strong></span>
          <input  ng-model="myInfo.tel" style="background: white;text-align: right" ng-value="myInfo.tel" ng-readonly="!isEdit"  class="widthSize"/>
        </label>

      <label class="item item-input">
          <span class="input-label"><strong>年龄</strong></span>
          <input ng-model="myInfo.age" style="background: white;text-align: right" ng-value="myInfo.age" ng-readonly="!isEdit" class=" widthSize"/>
      </label>

      <div class="item item-input">
      {{myInfo.introduce}}
      </div>

     <a ng-show="isEdit"  class="button button-block button-positive" ng-click="submitInfo()">保存</a>
     <input ng-show="isEdit" type="reset" value="重置" class="button button-block button-positive" ng-click="edit()"/>
    </form>
  </ion-content>

</ion-view>
